<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <%- include('nav') %>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= parseDate.year + "-" + parseDate.month + "-" + parseDate.day %> </p>
    
    <br>
    <a href="/movies/edit/<%= movie.id %>"><button>EDITAR</button></a>
    <a href="/movies/delete/<%= movie.id %>"><button>BORRAR</button></a>

</body>
</html>